@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800;900&family=Outfit:wght@400;700&family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: auto;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    height: 100vh;
    overflow: hidden;

}

.container {
    position: relative;
    height: 100%;
    width: 100%;

}


.background-top,
.background-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}

.background-button {
    background-color: hsl(275, 100%, 97%);
    top: 48%;
}

.card {
    position: absolute;
    top: 28%;
    left: 0;
    width: 34%;
    height: 52%;
    background-color: hsl(0, 0%, 100%);
    margin-left: 34rem;
    border-radius: 10px;
    padding-left: 2rem;
    font-size: 0.9rem;
}

hr {
    width: 350px;
    border: 0.1px solid rgb(213, 210, 210);
}

.star-fill {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 3rem;
    gap: 2rem;
}

.fill {
    display: flex;
    margin: 1.5rem 4rem 1.5rem 0;
    font-weight: bold;
    justify-content: space-between;

}

.bi-plus-circle-fill {
    color: hsl(276, 73%, 65%);

}


#paragraph {
    text-align: justify;
    margin-bottom: 1rem;
    display: none;
}



.fill:hover {
    cursor: pointer;
    color: hsl(276, 73%, 65%);
}

@media only screen and (max-width: 375px) {

    .background-top,
    .background-button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 35%;
    }

    .background-button {
        background-color: hsl(275, 100%, 97%);
        top: 22.5%;
    }
   

    .card {
        position: absolute;
        top: 20%;
        left: 0;
        width: 38%;
        height: 31%;
        background-color: hsl(0, 0%, 100%);
        margin-left: 9rem;
        border-radius: 8px;
        padding-left: 1rem;
        font-size: 0.4rem;
    }

    .star-fill {
        display: flex;
        margin-bottom: 1rem;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }

    .star-fill h1{
        margin-top: 0.5rem;
    }
    .star-fill svg{
        font-size: 0.1;
    }
    hr {
        width: 100px;
        border: 0.1px solid rgb(213, 210, 210);
    }

    .fill {
        display: flex;
        margin: 1rem 1rem 1rem 0;
        font-weight: bold;
        justify-content: space-between;
    
    }
    
    
}